<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<div th:fragment="header">
		<!-- Topbar Start -->
		<div class="container-fluid bg-dark text-light px-0 py-2">
			<div class="row gx-0 d-none d-lg-flex">
				<div class="col-lg-7 px-5 text-start">
					<div class="h-100 d-inline-flex align-items-center me-4">
						<span class="fa fa-phone-alt me-2"></span>
						<span>070 0000 0000</span>
					</div>
					<div class="h-100 d-inline-flex align-items-center">
						<span class="far fa-envelope me-2"></span> <span>info@toearth.com</span>
					</div>
				</div>
				<div class="col-lg-5 px-5 text-end">
					<div class="h-100 d-inline-flex align-items-center mx-n2">
						<span>Follow Us:</span>
						<a class="btn btn-link text-light" href="">
							<i class="fab fa-twitter"></i>
						</a>
						<a class="btn btn-link text-light" href="">
							<i class="fab fa-facebook-f"></i>
						</a> 
						<a class="btn btn-link text-light" href="">
							<i class="fab fa-youtube"></i>
						</a> 
						<a class="btn btn-link text-light" href="">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Topbar End -->

		<!-- Navbar Start -->
		<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
			<a href="/"
				class="navbar-brand d-flex align-items-center px-4 px-lg-5">
				<h1 class="m-0">To Us, To EARTH</h1>
			</a>
			<button type="button" class="navbar-toggler me-4"
				data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav ms-auto p-4 p-lg-0">
					<a href="#" class="nav-item nav-link active">홈</a> 
					<a href="#" class="nav-item nav-link">소개</a> 
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">함께하는 우리</a>
						<div class="dropdown-menu bg-light m-0">
							<a href="/club/list" class="dropdown-item">지역별 소모임</a> 
							<a href="#" class="dropdown-item">원데이클래스</a> 
							<a href="#" class="dropdown-item">서명운동</a> 
						</div>
					</div>
					<a href="#" class="nav-item nav-link">함께하는 마음</a> 
					<a href="/member/login" class="nav-item nav-link">로그인</a>
				</div>
				<a href="/member/sign" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block">
					회원가입<i class="fa fa-arrow-right ms-3"></i>
				</a>
			</div>
		</nav>
		<!-- Navbar End -->

	</div>
</body>
</html>